<div class="col-md-6">
	<h3>Выберите сотрудника</h3>

	<div class="list-group row" ng-repeat="user in usersList.users">
		<div class="col-md-11 col-xs-10 non-padding-right">
			<a href="#" ng-click="usersList.select_user(user.emails[0].address)" class="list-group-item">
				<img ng-src="{{user.profile.avatar}}" ng-show="user.profile.avatar" width="40px">
				{{user.profile.fio}} 
			</a>
		</div>
		<div class="col-md-1 col-xs-2 non-padding-left">
			<users-remove user="user" ng-if="usersList.user.roles[0] == 'admin'"></users-remove>
		</div>
	</div>
	<users-add></users-add>
</div>

<div class="col-md-6">
	<h3>Лента отчетов</h3>

	<div class="list-group">
		<a ng-repeat="report in usersList.reports" ui-sref="reportsList({id : report._id})" class="list-group-item list-group-item-{{usersList.checkSuccess(report._id) ? 'success' : 'warning'}}">
			<h4 class="list-group-item-heading"><span class="oclock" ng-class="{alertme : usersList.alertMe(report)}">{{report.end | date:'dd.MM.yyyy HH:mm:ss'}}</span> {{report.user.profile.fio}}</h4>
			<p class="list-group-item-text">
				{{report.shop.name}}
			</p>
		</a>
	</div>
</div>


<script type="text/ng-template" id="modalRemoveUser.html">
	<div class="modal-header">
		<h3 class="modal-title">Удалить пользователя?</h3>
	</div>
	<div class="modal-body">
		Вы подтверждаете свое действие? Пользователь <b>{{user.profile.fio}}</b> не будет удален из базы данных, он станет неактивным, и не будет отображаться в списке, и его E-mail нельзя будет использовать для повторной регистрации.
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ok()">Подтверждаю</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Отмена</button>
	</div>
</script>

