<div class="col-md-6">
	<h3>Выбирите отчет</h3>

	<div class="list-group">
	  <a ng-repeat="report in reportsList.reports | orderBy : report.datetime : -1 | limitTo: 10" ui-sref="reportsList({id : report._id})" class="list-group-item list-group-item-{{reportsList.checkSuccess(report._id) ? 'success' : 'warning'}}" ng-class="{active : reportsList.state.params.id == report._id}">
	    <h4 class="list-group-item-heading">{{report.start | date:'dd.MM.yyyy'}} {{report.user.profile.fio}}</h4>
	    <p class="list-group-item-text">
	    	<b>{{report.shop.name}}.</b> Начало: {{report.start | date:'HH:mm:ss'}}. Конец: {{report.end | date:'HH:mm:ss'}}
	    </p>
	  </a>
	</div>
	<uib-pager total-items="reportsList.reports.length" items-per-page="reportsList.perPage" ng-model="reportsList.currentPage" previous-text="Назад" next-text="Вперед"></uib-pager>
</div>
<div class="col-md-6">
	<h3>{{reportsList.oneReport.report}}</h3>
	<div class="list-group">
	  <a ng-repeat="report in reportsList.oneReport.data" class="list-group-item list-group-item-{{report.check == 1 ? 'success' : 'warning'}}">
	    <h4 class="list-group-item-heading">{{$index+1}}. {{report.question}}</h4>
	    <p class="list-group-item-text">
	    	{{report.check == 1 ? 'ДА' : 'НЕТ,'}}
	    	<span ng-show="report.check == 0">{{report.reason}}</span>
	    </p>
	  </a>
	</div>
</div>